 <main id="content" class="main-content" role="main">
      <a href="https://jeffreygraessley.com">Posts</a> | <a href="https://jeffreygraessley.com/about">About</a> | <a href="https://alwaysdeployed.com/tools">Tools</a>
      {{ content }}

  <header class="page-header"  
        role="banner">
      <h1 class="project-name">Jeffrey Graessley</h1>
</header>
<main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        &copy; 2023 Jeffrey Graessley
      </footer>
</main>
